<!-- Footer -->
<footer class="">

    <!-- Footer Columns -->
    <div class="footer-column">
        <div class="container">
            <div class="row">

                <!-- Colunm Widget -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="f-column-widget">
                        <h4>Contact School</h4>
                        <div class="address-widget">
                            <p>Ferozepur Road,Sarabha Nagar, Ludhiana, Punjab 141001</p>
                            <ul class="address-list">
                                <li><i class="fa fa-phone"></i>+91 - 161- 2457764</li>
                                <li><i class="fa fa-fax"></i>+91 - 161- 2456349</li>
                                <li><i class="fa fa-envelope"></i>info@gnpschool.org</li>
                            </ul>
                            <ul class="social-icons">
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <!--<li><a class="fa fa-instagram" href="#"></a></li>-->
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                                <!--<li><a class="fa fa-dribbble" href="#"></a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Colunm Widget -->
                <!-- Colunm Widget -->
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="f-column-widget">
                        <h4>Links:</h4>
                        <ul class="courses-list-link">
                            <li><a href="#">About School</a></li>
                            <li><a href="#">Management</a></li>
                            <li><a href="#">Facilities </a></li>
                            <li><a href="#">Co-curricular Activities </a></li>
                            <li><a href="#">Almanac</a></li>
                            <li><a href="#">Results </a></li>
                            <li><a href="#">Office Bearers</a></li>
                            <li><a href="#">Photo Gallery</a></li>
                            <li><a href="#">Video Gallery</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Reach Us</a></li>

                        </ul>
                    </div>
                </div>
                <!-- Colunm Widget -->
                <!-- Colunm Widget -->
                <!--<div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="f-column-widget">
                        <h4>Newsletter</h4>
                        <div class="newslatter">
                            <p>Enter your email and we'll send you more information of courses and scholarship.</p>
                            <div class="form-group"><input type="text" class="form-control" placeholder="Your Email..."></div>
                            <button class="btn blue sm">Subscribe</button>
                        </div>
                    </div>
                </div>-->
                <!-- Colunm Widget -->
                <!-- Colunm Widget -->
                <!--<div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="f-column-widget">
                        <h4>Instagram</h4>
                        <div class="instagram-gallery">
                            <ul>
                                <li><a href="#"><img src="assets/images/instagram/img-01.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/instagram/img-02.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/instagram/img-03.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/instagram/img-04.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/instagram/img-05.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/images/instagram/img-06.jpg" alt=""></a></li>
                            </ul>
                            <a href="#"><i class="fa fa-instagram"></i>@lincoln_edu</a>
                        </div>
                    </div>
                </div>-->
                <!-- Colunm Widget -->

            </div>
        </div>
    </div>
    <!-- Footer Columns -->
    <!-- Sub Footer -->
    <div class="sub-footer footer">
        <div class="container h-white p-white">
            <p>Copyright © 2017 Guru Nanak Public School Ludhiana. All Rights Reserved.</p>
            <ul class="sub-footer-nav">
                <!--	<li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy and Security</a></li>
                    <li><a href="#">Policy</a></li>-->
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>
    </div>
    <!-- Sub Footer -->

</footer>
<!-- Footer -->