 <!-- Client Logo -->
<section class="footer client-logo tc-padding">
    <div class="container h-white p-white">

        <div class="left-footer">
            <div class="e_care_box">
                <div>
                    <ul class="appicon text-center">
                        <li>
                            <div class="app_left">
                                <div class="text-center">
                                    <img src="assets/images/app-icon1.png" alt="Applying leave" draggable="false">
                                </div>
                                <p>
                                    Applying leave of absence on behalf of your ward is easy with the app. You will
                                    get instant notification on your app of leave’s approval or rejection.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="app_left">
                                <div class="text-center">
                                    <img src="assets/images/app-icon2.png" alt="Instant push notification" draggable="false">
                                </div>
                                <p>
                                    Instant push notification for all messages.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="app_left">
                                <div class="text-center">
                                    <img src="assets/images/app-icon3.png" alt="Easy view of photo albums" draggable="false">
                                </div>
                                <p>
                                    Easy view of photo albums after receiving SMS update from e-Care team.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="app_left">
                                <div class="text-center">
                                    <img src="assets/images/app-icon4.png" alt="Received SMS" draggable="false">
                                </div>
                                <p>
                                    Attendance, schedule, academic records, syllabus, conversation, assignments H.W etc.everything is now available on mobile app.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="app_left">
                                <div class="text-center">
                                    <img src="assets/images/app-icon5.png" alt="Attendance" draggable="false">
                                </div>
                                <p>
                                    Website when opened through e -Care App on mobile, gives much optimized and concise look with better experience than PC or laptop browsing.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="app_left">
                                <div class="text-center">
                                    <img src="assets/images/app-icon6.png" alt="e-Care app on mobile" draggable="false">
                                </div>
                                <p>
                                    Pay fees online using your mobile app sitting at home easily.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="app_left">
                                <div class="text-center">
                                    <img src="assets/images/app-icon7.png" alt="Fees Online" draggable="false">
                                </div>
                                <p>
                                    Sequential log of all received SMS with sender's image.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-footer">
            <img src="assets/images/m-p.png">
            <p>
                of Guru Nanak Public School, Ludhiana
            </p>
            <h1>
                <a target="_blank" title="iOS Mobile App" rel="nofollow" href="https://play.google.com/store/apps/details?id=com.franciscan.ecare" tabindex="0">
                    <img src="assets/images/google-play.png" alt="iOS Mobile App">
                </a>
                <a target="_blank" title="Android Mobile App" rel="nofollow" href="https://itunes.apple.com/in/app/franciscan-e-care/id886991847?mt=8" tabindex="0">
                    <img src="assets/images/itunes.png" alt="Android Mobile App">
                </a>
                <a target="_blank" rel="nofollow" title="Windows Mobile App" href="https://www.microsoft.com/en-in/store/p/franciscan-e-care/9nblggh6839x" tabindex="0">
                    <img src="assets/images/windows-store.png" alt="Windows Mobile App">
                </a>
            </h1>
            <div class="clearfix"></div>
            <p>
                Enter School Code
            </p>
            <h3>
                'GNPLDH'
            </h3>
        </div>


    </div>
</section>
<!-- Client Logo -->