<main class="main-content"><br/>
    <h3 class="text-center">Achievements</h3>
    <div class="courses-slider-3">
        <div class="item" *ngFor="let x of TopTenAchievements">
            <div class="course-column tc-hover">
                <div class="course-img">
                    <img src="{{achievementsImg}}{{x.Image}}" alt="">
                </div>
                <div class="course-detail">
                    <span class="date"><i class="fa fa-calendar"></i>{{x.EventDate}}</span>
                    <h3><a href="#">{{x.EventVenue}}</a></h3><br/>
                    <p>{{x.Description}}</p><br />
                    <p>{{x.Event}}</p><br />
                    <p>{{x.RowNum}} {{x.AId}}</p>
                    <a class="btn blue sm" href="#">Apply<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center">News and Notices</h3>
    <div class="courses-slider-3">
        <div class="item" *ngFor="let x of TopTenNotices">
            <div class="course-column tc-hover">
                <div class="course-img">
                    <img src="{{x.Image}}" alt="">
                </div>
                <div class="course-detail">
                    <span class="date"><i class="fa fa-calendar"></i>{{x.NoticeDate}}</span>
                    <h3><a href="#">{{x.Notice}}</a></h3><br />
                    <p>Heading : {{x.Heading}}</p><br />
                    <p>Total Record : {{x.TotalRec}}</p><br />                    
                    <a class="btn blue sm" href="#">Apply<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="heder_Center">
        <div class="gallery-searchA">
            <div class="galleryInputBlock">
                <form #searchForm="ngForm">
                    
                    <ul>
                        <li>
                            <label><input [(ngModel)]="searchBy" #all="ngModel" type="radio" name="searchBy" value="1">All Search</label>
                        </li>
                        <li>
                            <label><input [(ngModel)]="searchBy" #Album="ngModel" type="radio" name="searchBy" value="2">Album Title </label>
                        </li>
                        <li>
                            <label><input [(ngModel)]="searchBy" #Year="ngModel" type="radio" name="searchBy" value="3">Year </label>
                        </li>
                        <li>
                            <label><input [(ngModel)]="searchBy" #Event="ngModel" type="radio" name="searchBy" value="4">Event Date </label>
                        </li>
                        <li>
                            <label><input [(ngModel)]="searchBy" #Description="ngModel" type="radio" name="searchBy" value="5">Description </label>
                        </li>
                        <li class="lastli mLeft">
                            <input *ngIf="searchBy == '1'" type="text" name="type"  [(ngModel)]="allSearch" class="searchfield" placeholder="All Search" />
                            <input *ngIf="searchBy == '2'" type="text" name="Album2"  [(ngModel)]="AlbumTitle" class="searchfield" placeholder="Album Title" />
                            
                            <select *ngIf="searchBy == '3'" class="searchfield" [(ngModel)]="year" name="years">                          
                                <option value="">Select</option>      
                                <option *ngFor="let x of years" value="{{x.Year}}"> {{x.Year}} </option>                                
                            </select>

                            <input *ngIf="searchBy == '4'" type="text" bsDatepicker name="eventDate"  [(ngModel)]="eventDate" class="searchfield" placeholder="Event Date" />
                            <input *ngIf="searchBy == '5'" type="text" name="Description"  [(ngModel)]="Descriptions" class="searchfield" placeholder="Description" />
                        </li>
                    </ul>
                </form>
            </div>
            <div class="galleryButton">
                <input type="button" (click)="searchAlbum()" class="searchbutton" value="Search / Go"/>
            </div>
            Total Album : {{TotalAlbum}}
        </div>
        
        <hr />
        <div class="masterdata">
            {{errorMsg}}
            <ul id="dvcustomers" class="photo_gn1">

                <li class="eh1a" *ngFor="let x of gallery">
                    <span href='#' class="eh2a">
                        <div class="thum_first">
                            <span class="albumiconphoto" (click)="goToImages(x.id)">
                                <img src="{{galleryImg}}{{x.IconImg}}" />
                            </span>
                        </div>
                        <div class="pg_texta">
                            <div class="galbumnamen">
                                <span class="albumnameclass">{{x.AlbumName}}</span>
                            </div>
                            <div><p>{{x.Description}}</p></div>
                            <div class="gdateofcreationn">
                                <span class="evcolorn">event date</span> <span class="semi_mg"> : </span>
                                <span class="dataofaccess">{{x.EventOn}}</span>
                            </div>
                            <div class="gdataofaccessn">
                                <span class="evcolorn">updated on</span> <span class="semi_mg"> : </span>
                                <span class="dateofcreation">{{x.UpdatedOn}}</span>
                            </div>
                            <div class="gtotalrecordn">
                                <span class="evcolorn">total photos</span> <span class="semi_mg"> : </span>
                                <span class="totlphoto">{{x.TotalPhoto}} </span>
                            </div>

                        </div>
                        <div class="viewallthumb">
                            <a href="DisplayPhotosFull.html" class="eh2a1">  </a>
                        </div>
                    </span>
                </li>

                

            </ul>



        </div>
        <hr>
        <div class="pageLoaders">
            <div class="pgImgLoad text-center">
                <img id="loader" alt="" src="/assets/images/bx_loader.gif" style="display:none">
            </div>
            <div id="loadmore" style="">Load More</div> 
        </div>
        <!--<div id="loadmore" style="clear:both; border:1px solid red;">
            <button> Load More  </button>
        </div>-->
        
            <!--<div class="text text-1">
                Lorem ipsum <span></span>
            </div>
            <div class="text text-2">
                Lorem ipsum <span></span>
            </div>-->

        


    </div>
    <div id="main-slider" class="carousel slide carousel-fade">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <!-- Item 1 -->
            <div class="item active">
                <img src="assets/images/slider/img-01.jpg" alt="">
                <div class="container">
                    <div class="caption position-center-center text-center h-white p-white">
                        <h1 class="font-playfair animated fadeInUp delay-1">Guru Nanak Public School</h1>
                        <p class="animated fadeInUp delay-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <!-- <ul class="btn-list"> -->
                        <!-- <li><a class="btn blue animated fadeInLeft delay-3" href="#">Get Started Now</a></li> -->
                        <!-- <li><a class="btn blank animated fadeInRight delay-3" href="#">Take a Tour</a></li> -->
                        <!-- </ul> -->
                    </div>
                </div>
            </div>
            <!-- Item 1 -->
            <!-- Item 1 -->
            <div class="item">
                <img src="assets/images/slider/img-01.jpg" alt="">
                <div class="container">
                    <div class="caption position-center-center text-center h-white p-white">
                        <h1 class="font-playfair animated fadeInUp delay-1">Guru Nanak Public School</h1>
                        <p class="animated fadeInUp delay-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <!-- <ul class="btn-list"> -->
                        <!-- <li><a class="btn blue animated fadeInLeft delay-3" href="#">Get Started Now</a></li> -->
                        <!-- <li><a class="btn blank animated fadeInRight delay-3" href="#">Take a Tour</a></li> -->
                        <!-- </ul> -->
                    </div>
                </div>
            </div>
            <!-- Item 1 -->
            <!-- Item 1 -->
            <div class="item">
                <img src="assets/images/slider/img-01.jpg" alt="">
                <div class="container">
                    <div class="caption position-center-center text-center h-white p-white">
                        <h1 class="font-playfair animated fadeInUp delay-1">Guru Nanak Public School</h1>
                        <p class="animated fadeInUp delay-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna.</p>
                        <!-- <ul class="btn-list"> -->
                        <!-- <li><a class="btn blue animated fadeInLeft delay-3" href="#">Get Started Now</a></li> -->
                        <!-- <li><a class="btn blank animated fadeInRight delay-3" href="#">Take a Tour</a></li> -->
                        <!-- </ul> -->
                    </div>
                </div>
            </div>
            <!-- Item 1 -->

        </div>
        <!-- Wrapper for slides -->
        <!-- Nan Control -->
        <a class="slider-nav next" href="#main-slider" data-slide="prev"><i class="fa fa-long-arrow-right"></i></a>
        <a class="slider-nav prev" href="#main-slider" data-slide="next"><i class="fa fa-long-arrow-left"></i></a>
        <!-- Nan Control -->
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ul>
        <!-- Indicators -->

    </div>
    
</main>
<!-- Slide Menu -->
<!-- back To Button -->
<span id="scrollup" class="scrollup circle-btn"><i class="fa fa-angle-up"></i></span>
<!-- back To Button -->
<!-- Login Form -->
<div class="login-form">
    <div class="modal fade login-modal">
        <div class="modal-content position-center-center tc-hover">
            <img src="assets/images/logo.png" alt="" />
            <h4>::: Login to your account :::</h4>
            <form class="login-form">
                <div class="form-group">
                    <input type="text" required="required" />
                    <label class="control-label">Username or Email</label><i class="bar"></i>
                </div>
                <div class="form-group">
                    <input type="password" required="required" />
                    <label class="control-label">password</label><i class="bar"></i>
                </div>
                <ul class="btn-list">
                    <li><button class="btn blue sm full-width">Login</button></li>
                    <li><button class="btn blank dark sm full-width">Sign up</button></li>
                </ul>
                <div class="remeber-nd-forget">
                    <a class="remember pull-left" href="#">Remember me</a>
                    <a href="#" class="forget pull-right">Forgot password ?</a>
                </div>
                <div class="social-icons-2">
                    <span>Connect with</span>
                    <ul>
                        <li><a class="fa fa-twitter-square" href="#"></a></li>
                        <li><a class="fa fa-facebook-square" href="#"></a></li>
                        <li><a class="fa fa-linkedin-square" href="#"></a></li>
                        <li><a class="fa fa-pinterest-square" href="#"></a></li>
                        <li><a class="fa fa-google-plus-square" href="#"></a></li>
                        <li><a class="fa fa-github-square" href="#"></a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Login Form -->