<header>

    <!-- Top Bar -->
    <div class="top-bar">
        <div class="container">

            <!-- Address List -->
            <div class="address-list-top">
                <ul>
                    <li><i class="fa fa-phone"></i>+91 - 161- 2457764</li>
                    <li><i class="fa fa-envelope"></i>info@gnpschool.org</li>
                </ul>
            </div>
            <!-- Address List -->
            <!-- Login -->
            <!-- <div class="login-option"> -->
            <!-- <a data-toggle="modal" data-target=".login-modal" href="#">Login  /  Sign Up<i class="fa fa-sign-out"></i></a> -->
            <!-- </div> -->
            <!-- Login -->

        </div>
    </div>
    <!-- Top Bar -->
    <!-- Nav -->
    <div class="nav-holder z-depth-1">
        <div class="container">

            <!-- Logo -->
            <div class="logo">
                <a href="#"><img src="assets/images/logonew.png" alt="" /></a>
            </div>
            <!-- Logo -->
            <!-- Search Nd Cart -->
            <!-- <div class="search-nd-cart"> -->
            <!-- <ul> -->
            <!-- <li class="cart"><a class="fa fa-shopping-cart" href="#"><i class="add-cart-no">3</i></a></li> -->
            <!-- <li class="link search"><a class="fa fa-search" href="#"></a></li> -->
            <!-- </ul> -->
            <!-- </div> -->
            <!-- Search Nd Cart -->
            <!-- Search Popup -->
            <!-- <div id="searching"> -->
            <!-- <div id="searchThis">	 -->
            <!-- <input type="text" placeholder="Search"/> -->
            <!-- <div id="closeSearch">X</div> -->
            <!-- </div> -->
            <!-- <div id="searchResults"></div> -->
            <!-- </div> -->
            <!-- Search Popup -->
            <!-- Navigation -->
            <div class="nav-list">
                <ul>
                    <li  routerLinkActive="active">
                        <a routerLink="home">Home</a>
                        <!-- <ul> -->
                        <!-- <li><a class="triple-eff" href="index.html">Home 1</a></li> -->
                        <!-- <li><a class="triple-eff" href="index-2.html">Home 2</a></li> -->
                        <!-- <li><a class="triple-eff" href="index-3.html">Home 3</a></li> -->
                        <!-- <li><a class="triple-eff" href="index-4.html">Home 4</a></li> -->
                        <!-- <li><a class="triple-eff" href="index-5.html">Home 5</a></li> -->
                        <!-- <li><a class="triple-eff" href="index-6.html">Home 6</a></li> -->
                        <!-- </ul> -->
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="birthday">Birth Day</a>
                        <!-- <ul> -->
                        <!-- <li><a class="triple-eff" href="course-list.html">course list</a></li> -->
                        <!-- <li><a class="triple-eff" href="course-grid.html">course grid</a></li> -->
                        <!-- <li><a class="triple-eff" href="course-detail.html">course detail</a></li> -->
                        <!-- </ul> -->
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="newsnotice">News Notice </a>
                        <!-- <!-- <ul> -->
                        <!-- <!-- <li><a class="triple-eff" href="event-list.html">event list</a></li> -->
                        <!-- <!-- <li><a class="triple-eff" href="event-grid.html">event grid</a></li> -->
                        <!-- <!-- <li><a class="triple-eff" href="event-detail.html">event detail</a></li> -->
                        <!-- <!-- </ul> -->
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="achievements">Achievements</a>
                        <!-- <!-- <ul> -->
                        <!-- <!-- <li><a class="triple-eff" href="masonry-blog.html">blog masonry</a></li> -->
                        <!-- <!-- <li><a class="triple-eff" href="blog-standard.html">blog standard</a></li> -->
                        <!-- <!-- <li><a class="triple-eff" href="blog-detail.html">blog detail</a></li> -->
                        <!-- <!-- </ul> -->
                    </li>
                    <!--<li>
                        <a href="Javascript:void(0)">Almanac</a>-->
                    <!-- <ul> -->
                    <!-- <li><a class="triple-eff" href="product-grid.html">Product</a></li> -->
                    <!-- <li><a class="triple-eff" href="product-detail.html">Product Detail</a></li> -->
                    <!-- </ul> -->
                    <!--</li>-->
                    <li>
                        <a href="Javascript:void(0)">Results </a>
                        <!-- <ul> -->
                        <!-- <li><a class="triple-eff" href="about-us.html">about-us</a></li> -->
                        <!-- <li><a class="triple-eff" href="bodypass.html">bodypass</a></li> -->
                        <!-- <li><a class="triple-eff" href="gallery.html">gallery</a></li> -->
                        <!-- <li><a class="triple-eff" href="learn-dash-course.html">learn dash course</a></li> -->
                        <!-- <li><a class="triple-eff" href="pricing.html">pricing</a></li> -->
                        <!-- <li><a class="triple-eff" href="teacher-detail.html">teacher detail</a></li> -->
                        <!-- <li><a class="triple-eff" href="teachers-v1.html">teachers v1</a></li> -->
                        <!-- <li><a class="triple-eff" href="teachers-v2.html">teachers v2</a></li> -->
                        <!-- </ul> -->
                    </li>
                    <li >
                        <a href="Javascript:void(0)">Gallery</a>
                        <ul>
                            <li><a class="triple-eff" href="#">Photo Gallery</a></li>
                            <li><a class="triple-eff" href="#">Video Gallery</a></li>
                            <li><a class="triple-eff" href="#">Media Gallery</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="Javascript:void(0)">Contact</a>
                        <ul>
                            <li><a class="triple-eff" routerLink="contactus">Contact Us</a></li>
                            <li><a class="triple-eff" routerLink="reachtus">Reach Us</a></li>
                            <li><a class="triple-eff" href="#">Write Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Navigation -->
            <!-- Responsive Button -->
            <!-- <div class="responsive-btn"> -->
            <!-- <a href="#menu" class="menu-link circle-btn"><i class="fa fa-bars"></i></a> -->
            <!-- </div> -->
            <!-- Responsive Button -->

        </div>
    </div>
    <!-- Nav -->
    
</header>