<!-- Our Courses -->
<section class="our-courses tc-padding">
    <div class="container">

        <!-- Main Heading -->
        <div class="main-heading-holder">
            <div class="main-heading p-b-0">
                <h2>About School</h2>

            </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus purus sit amet pharetra bibendum. Morbi congue nec ipsum vitae elementum. Suspendisse accumsan, diam sit amet placerat feugiat, nulla eros pretium sapien, sit amet dignissim tellus orci quis felis. Cras eu sapien vel nunc sagittis iaculis. Nam non accumsan nibh. Vivamus diam augue, hendrerit sit amet augue nec, rhoncus posuere justo. Nullam auctor scelerisque enim id suscipit. Praesent a pellentesque ipsum.

            </p>
            <p>Suspendisse potenti. Cras mi eros, blandit sit amet lacus eget, dignissim efficitur velit. Vivamus eu maximus arcu. Cras pretium lorem eu luctus pellentesque. Pellentesque elementum eros quis mauris dictum, ac rhoncus purus tempor. Proin suscipit, ligula ut luctus aliquam, nisi enim scelerisque nisi, eu fringilla leo risus quis diam. Phasellus egestas auctor quam.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <img src="assets/images/school.jpg" />
        </div>

        <!-- Main Heading -->
        <!-- Our Courses -->
        <!--<div class="courses-slider-3">

            <!-- Courses Column
            <div class="item">
                <div class="course-column tc-hover">
                    <div class="course-img">
                        <img src="assets/images/our-courses-1/img-01.jpg" alt="">
                    </div>
                    <div class="course-detail">
                        <span class="date"><i class="fa fa-calendar"></i>December 4, 2016</span>
                        <h3><a href="#">Application Design</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetetur adipiscing elitsed do eius mod.</p>
                        <a class="btn blue sm" href="#">Apply<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Courses Column

            <!-- Courses Column
            <div class="item">
                <div class="course-column tc-hover">
                    <div class="course-img">
                        <img src="assets/images/our-courses-1/img-02.jpg" alt="">
                    </div>
                    <div class="course-detail">
                        <span class="date"><i class="fa fa-calendar"></i>December 4, 2016</span>
                        <h3><a href="#">Chemical Engineering</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetetur adipiscing elitsed do eius mod.</p>
                        <a class="btn blue sm" href="#">Apply<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Courses Column

            <!-- Courses Column
            <div class="item">
                <div class="course-column tc-hover">
                    <div class="course-img">
                        <img src="assets/images/our-courses-1/img-03.jpg" alt="">
                    </div>
                    <div class="course-detail">
                        <span class="date"><i class="fa fa-calendar"></i>December 4, 2016</span>
                        <h3><a href="#">Chemical Engineering</a></h3>
                        <p>Lorem ipsum dolor sit amet, consetetur adipiscing elitsed do eius mod.</p>
                        <a class="btn blue sm" href="#">Apply<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- Courses Column

        </div>-->
        <!-- Our Courses -->
        <!-- Viwe All Button -->
        <div class="col-sm-12 text-center">
            <a class="btn blank dark" href="#">View All </a>
        </div>
        <!-- Viwe All Button -->

    </div>
</section>
<!-- Our Courses -->