<!-- Why Chose Us -->
<section class="why-chose-us tc-padding">
    <div class="container">

        <!-- Main Heading -->
        <div class="main-heading-holder">
            <div class="main-heading h-white p-white">
                <h2>Quick links</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing aelit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
        <!-- Main Heading -->
        <!-- Facts Row -->
        <ul class="row text-center">
            <li class="col-lg-3 col-sm-3 col-xs-6 r-full-width">
                <a href="#">
                    <div class="facts-column">
                        <span class="imp-img"><img src="assets/images/ecare.png" /></span>
                        <h4 class="m-b-0">e-Care</h4>
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-sm-3 col-xs-6 r-full-width">
                <a href="#">
                    <div class="facts-column">
                        <span class="imp-img"><img src="assets/images/Alumni.png" /></span>
                        <h4 class="m-b-0">alumni</h4>
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-sm-3 col-xs-6 r-full-width">
                <a href="#">
                    <div class="facts-column">
                        <span class="imp-img"><img src="assets/images/Kids corner.png" /></span>
                        <h4 class="m-b-0">Kids' Corner</h4>
                    </div>
                </a>
            </li>
            <li class="col-lg-3 col-sm-3 col-xs-6 r-full-width">
                <a href="#">
                    <div class="facts-column">
                        <span class="imp-img"><img src="assets/images/Book.png" /></span>
                        <h4 class="m-b-0">Magazines</h4>
                    </div>
                </a>
            </li>
        </ul>
        <!-- Facts Row -->

    </div>
</section>
<!-- Why Chose Us -->