<!-- Video Section -->
<section class="parallax-window video-section" data-parallax="scroll" data-image-src="assets/images/video-bg.jpg">
    <div class="video-title-holder">
        <div class="video-titel">
            <div class="youtube" id="lR4tJr7sMPM-1">
                <div class="position-center-center">
                    <h3>Take a Tour<i class="fa fa-play-circle"></i>Take a Tour</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Video Section -->